<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <title>
      Авторизация
    </title>
    <style>
      #auth {
        width: 100vw;
        height: 100vh;
        background-color: aliceblue;
        border-radius: .1rem;
      }
      :root {
        background-color: white;
      }
    </style>
  </head>
  <body>
    <div id="auth" class="container-fluid">
      Тут должен был быть Ваш профиль 😳
      <button class="btn btn-primary" onclick="handle()">
        Выйти
      </button>
    </div>
    <script>
      async function handle() {
        document.location.href = 'http://localhost:5000/';
      }
    </script>
  </body>
</html>